<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/style.css">
        <script src="https://kit.fontawesome.com/f7a1c0a146.js" crossorigin="anonymous"></script>
        <title>Portifolio</title>

    </head>
    <body>

        <div class="navbar">

            <div class="max-width">
                <div class="container">
                <li><img class="text" src="/public/img/Layer.svg" alt="">
                </li>
            </div>

                <div class="logo"></ul>
                <a href="#">João Victor Cavalcante
                </a>
            </div>
            <ul class="menu">
                <ul id="sublinhado" role="sublinhado">
                    <li>

                        <a href="#">Início</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Serviços</a>
                    </li>
                    <li>
                        <a href="#">Habilidades</a>
                    </li>
                    <li>
                        <a href="#">Projetos</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </ul>
        </div>
    </body>
</html></div><!--Home Início--><section class="home" id="home">
<div class="max-width">
    <div class="home-content">
        <div class="text-1">Olá, meu nome é</div>
        <div class="text-2">João Victor Cavalcante</div>
        <div class="text-3">eu sou <spam>Desenvolvedor Full-Stack</spam>
        </div>
    </div>
</div>
<a><img class="avatar" src="/public/img/avatar.png" alt=""></a>
</section>
<footer>
    <h1>lolollolo</h1>
</footer>
</body>
</html>
